/* 
Palette
darker greyy #1a1b1b
dark greyy #303841
dark greenish greyy #3A4750
yello #ffc54d
light greyy #EEEEEE
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100vw;
  background-color: #61677A;
  font-family: 'Poppins', sans-serif;
  display: flex;
}